<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341639729821-tojledn557ql4d4nqcf3io4sji881raq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341639729821-tojledn557ql4d4nqcf3io4sji881raq</string>
	<key>API_KEY</key>
	<string>AIzaSyDe3vcLhz2qjIsw_quclDDMs8cpddsBnBM</string>
	<key>GCM_SENDER_ID</key>
	<string>341639729821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.providerBase</string>
	<key>PROJECT_ID</key>
	<string>provider-base-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>provider-base-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341639729821:ios:4efb82dc65ff0df0333a74</string>
</dict>
</plist>