<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902313079720-e463tsvu81n82fs0ood7lj9tgpt6o6em.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902313079720-e463tsvu81n82fs0ood7lj9tgpt6o6em</string>
	<key>API_KEY</key>
	<string>AIzaSyAZSsGJLv7qBzaO-gTmMNX8TaOSMRDZ_e0</string>
	<key>GCM_SENDER_ID</key>
	<string>902313079720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.providerBase.dev</string>
	<key>PROJECT_ID</key>
	<string>provider-base-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>provider-base-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902313079720:ios:5587ac34bb50d7ad53a39d</string>
</dict>
</plist>